.button {
    background: #ED7FC1;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 195px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.button:hover {
    background: #c9117c;
}

#button-login {
    position: absolute;
    width: 174px;
    height: 56px;
    top: 600px;
}

#button-login-registration {
    position: absolute;
    width: 250px;
    height: 56px;
    top: 700px;
}

#button-create-order{
    position: relative;
    top: 120px;
    left: 120px;
}