.form {
    display: flex;
    justify-content: center;
}

#form-profile {
    border-color: #0B5CF8;
    border-width: 5px;
}

#form-create-order{
    position: relative;
    top: 300px;
    height: 300px;
}

#form-order {
    top: 0px;
    position: relative;
    width: 600px;
    height: 600px;
    background-color: #ffa7b7;
}

#form-map {
    position: relative;
    top: 0px;
    height: 600px;
    width: 600px;
    background-color: aquamarine;
}

#form-suggest {
    position: relative;
    top: 0px;
    left: 50px;
}