.input-box {
    background: #FBF3F3;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    outline: none;
    text-indent: 5px;
    left: -35px;
}

#input-box-login-login {
    position: absolute;
    top: 425px;
}

#input-box-password-login {
    position: absolute;
    top: 500px;
}

#input-box-lastname-registration {
    position: absolute;
    top: 400px;
}

#input-box-firstname-registration {
    position: absolute;
    top: 450px;
}

#input-box-number-registration {
    position: absolute;
    top: 500px;
}

#input-box-email-registration {
    position: absolute;
    top: 550px;
}

#input-box-login-registration {
    position: absolute;
    top: 600px;
}

#input-box-password-registration {
    position: absolute;
    top: 650px;
}

