
#map {
    width: 100%;
    height: 100%;
    position: relative;
}

/*#messageHeader {*/
/*    height: 20px;*/
/*}*/

#footer1 {
    position: relative;
    top: -50px;
    width: 450px;
    height: 70px;
    background-color: #ffd9e0;
    padding: 12px;
    border-radius: 10px;
    left: -35px;
}

#message1 {
    position: relative;
    height: 40px;
}

/*#header {*/
/*    position: relative;*/
/*    height: 28px;*/
/*    width: 376px;*/
/*    margin: 12px 10px 12px 12px;*/
/*}*/

#button1 {
    position: relative;
    top: 15px;
    right: -450px;
    display: inline-block;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    user-select: none;
    padding: .2em 0.6em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: rgb(0, 0, 0) linear-gradient(#FFFFFF, #FFFFFF);
    transition: all .218s ease 0s;
    height: 28px;
    width: 85px;
    border-radius: 10px;
}

#button1:hover {
    position: relative;
    color: rgb(24, 24, 24);
    border: 1px solid rgb(198, 198, 198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#button1:active {
    position: relative;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

.input {
    position: relative;
    height: 18px;
    margin-right: 10px;
    width: 277px;
    padding: 4px;
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0);
    transition: .17s linear;
}

.input:focus {
    position: relative;
    outline: none;
    border: 1px solid #fdd734;
    box-shadow: 0 0 1px 1px #fdd734;
}

.input_error, .input_error:focus {
    position: relative;
    outline: none;
    border: 1px solid #f33;
    box-shadow: 0 0 1px 1px #f33;
}

/*#notice {*/
/*    position: relative;*/
/*    left: 260px;*/
/*    margin: 0px;*/
/*    top: 0px;*/
/*    color: #f33;*/
/*    display: none;*/
/*}*/

#footer2 {
    position: relative;
    top: -7px;
    width: 450px;
    height: 70px;
    background-color: #ffd9e0;
    padding: 12px;
    border-radius: 10px;
    left: -35px;
}

#message2 {
    position: relative;
    height: 40px;
}

/*#header {*/
/*    position: relative;*/
/*    height: 28px;*/
/*    width: 376px;*/
/*    margin: 12px 10px 12px 12px;*/
/*}*/

#button2 {
    position: relative;
    top: 55px;
    right: -450px;
    display: inline-block;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    user-select: none;
    padding: .2em 0.6em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: rgb(0, 0, 0) linear-gradient(#FFFFFF, #FFFFFF);
    transition: all .218s ease 0s;
    height: 28px;
    width: 85px;
    border-radius: 10px;
}

#button2:hover {
    position: relative;
    color: rgb(24, 24, 24);
    border: 1px solid rgb(198, 198, 198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#button2:active { 
    position: relative;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
}

#suggest1 {
    position: relative;
    top: 10px;
    width: 575px;
    border-radius: 10px;
    font-size: 18px;
}

#suggest {
    position: relative;
    top: 130px;
    width: 575px;
}