.text {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

#text-registration {
    position: absolute;
    width: auto;
    height: 150px;
    top: 665px;
    text-decoration-line: underline;
    color: #0B5CF8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#text-enter {
    position: absolute;
    font-size: 34px;
    top: 325px;
}

#text-error-login-password {
    position: absolute;
    font-size: 14px;
    top: 400px;
    color: crimson;
}

#text-profile {
    position: absolute;
    font-size: 34px;
    top: 325px;
}

#text-profile-lastname {
    position: absolute;
    font-size: 28px;
    top: 375px;
}

#text-profile-firstname {
    position: absolute;
    font-size: 28px;
    top: 425px;
}

#text-profile-phone {
    position: absolute;
    font-size: 28px;
    top: 475px;
}

#text-profile-email {
    position: absolute;
    font-size: 28px;
    top: 525px;
}

#text-profile-username {
    position: absolute;
    font-size: 28px;
    top: 575px;
}