.button {
    background: #ED7FC1;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 195px;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

#button-log-in {
    position: absolute;
    width: 174px;
    height: 56px;
    /* left: 910px; */
    top: 599px;
}