<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История заказов</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/ico/favicon.ico" th:href="@{/ico/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../public/css/image.css" th:href="@{/css/image.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/body.css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/table.css" th:href="@{/css/table.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/fieldset.css" th:href="@{/css/fieldset.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/select.css" th:href="@{/css/select.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/input-box.css" th:href="@{/css/input-box.css}">
    <script src="../public/js/history.js" th:src="@{js/history.js}"></script>
</head>
<body onload="onLoadBodyHistory()">
<div id="form-history" class="form">
    <table id="table-history">
    </table>
</div>
<img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-top" alt="Загрузка">
<img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-bottom" alt="Загрузка">

<!--<a class="text" id="text-index-logout" href="/logout">Выйти</a>-->
<!--<a class="text" id="text-index-login" href="/login">Войти</a>-->
<!--<a class="text" id="text-index-history" href="/history">История</a>-->
<!--<a class="text" id="text-index-profile" href="/profile">Профиль</a>-->
<!--<a class="text" id="text-index-create-order" href="/index">Заказать</a>-->

</body>
</html>