<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История заказов</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/ico/favicon.ico" th:href="@{/ico/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../public/css/image.css" th:href="@{/css/image.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/body.css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/table.css" th:href="@{/css/table.css}">
    <script src="../public/js/history.js" th:src="@{js/history.js}"></script>
</head>
<body onload="onLoadBodyHistory()">
<div id="form-history" class="form">
    <table id="table-history">
    </table>
</div>

</body>
</html>