<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="my-css-file.css">
    <script src="my-js-file.js"></script>
</head>
<body>
<h1>Авторизация</h1>
<p id="qwe">Click the button to trigger a function that will output "Hello World" in a p element with id="demo".</p>
<input type="text" disabled>

<input type="text">

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>

<script>
function myFunction() {
document.getElementById("qwe").innerHTML = "Hello World";
}
</script>
</body>
</html>