<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>enter</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{favicon.ico}"/>

    <link rel="stylesheet" type="text/css" href="../public/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/input-box.css" th:href="@{/css/input-box.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/image.css" th:href="@{/css/image.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css" th:href="@{/css/form.css}">
    <script rel="script" type="text/javascript" src="../public/js/button.js" th:src="@{/js/button.js}"></script>
</head>

<body>
<img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-top" alt="Загрузка">
<img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-bottom" alt="Загрузка">
<img src="../public/images/taxi-car.png" th:src="@{/images/taxi-car.png}" id="image-taxi-car">
<form class="form" id="form-enter">
    <p class="text" id="text-enter">Вход</p>
    <input class="input-box" id="input-box-lastname" type="text" placeholder="Фамилия">
    <input class="input-box" id="input-box-firstname" type="text" placeholder="Имя">
    <input class="input-box" id="input-box-password" type="password" placeholder="Пароль">
    <button class="button" id="button-log-in" onclick="myFunction()">Войти</button>
    <a class="text" id="text-registration" href="/registration">Зарегистрироваться</a>
</form>
</body>

</html>