<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Заказ такси</title>

    <link rel="stylesheet" type="text/css" href="../public/css/image.css" th:href="@{/css/image.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/body.css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/text.css" th:href="@{/css/text.css}">
    <!--
        Укажите свой API-ключ. Тестовый ключ НЕ БУДЕТ работать на других сайтах.
        Получить ключ можно в Кабинете разработчика: https://developer.tech.yandex.ru/keys/
    -->
    <link rel="stylesheet" type="text/css" href="../public/css/map.css" th:href="@{/css/map.css}">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=89cb7696-4db1-48ec-8d70-1d85dffdcfac"
            type="text/javascript"></script>
    <script src="../public/js/map.js" th:src="@{js/map.js}"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>

</head>
<body>
<img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-top" alt="Загрузка">

<div id="form-create-order" class="form">
    <p class="text" id="text-create-order">Сделать заказ</p>
    <div id="form-order" class="form">
        <div id="form-suggest1">
            <input type="text" id="suggest1" class="sug"/>
            <input type="text" id="suggest" class="sug">
            <button type="submit" id="button1">Проверить</button>
<!--            <p id="notice">Адрес не найден</p>-->
            <div id="footer1">
<!--                <div id="messageHeader"></div>-->
                <div id="message1"></div>
            </div>
            <button type="submit" id="button2">Проверить</button>
            <div id="footer2">
                <div id="message2"></div>
            </div>
        </div>
        <div id="form-suggest2">
        </div>
    </div>

    <div id="form-map" class="form">
        <div id="map"></div>

    </div>
</div>


<img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-bottom" alt="Загрузка">
</body>
</html>