<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>

    <link rel="shortcut icon" type="image/x-icon" href="../public/ico/favicon.ico" th:href="@{/ico/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="../public/css/body.css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/button.css" th:href="@{/css/button.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/input-box.css" th:href="@{/css/input-box.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/text.css" th:href="@{/css/text.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/image.css" th:href="@{/css/image.css}">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css" th:href="@{/css/form.css}">

</head>

<body>
    <img src="../public/images/taxi-phone.png" th:src="@{/images/taxi-phone.png}" id="image-taxi-phone" alt="Загрузка">
    <img src="../public/images/taxi-clock.png" th:src="@{/images/taxi-clock.png}" id="image-taxi-clock" alt="Загрузка">
    <img src="../public/images/taxi-badge.png" th:src="@{/images/taxi-badge.png}" id="image-taxi-badge" alt="Загрузка">
    <img src="../public/images/taxi-plate.png" th:src="@{/images/taxi-plate.png}" id="image-taxi-plate" alt="Загрузка">
    <img src="../public/images/poni.png" th:src="@{/images/poni.png}" id="image-poni" alt="Загрузка">
    <img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-top" alt="Загрузка">
    <img src="../public/images/taxi-car.png" th:src="@{/images/taxi-car.png}" id="image-taxi-car">
    <form class="form" id="form-enter">
        <p class="text" id="text-enter">Регистрация</p>
        <input class="input-box" id="input-box-lastname-registration" type="text" placeholder="Фамилия">
        <input class="input-box" id="input-box-firstname-registration" type="text" placeholder="Имя">
        <input class="input-box" id="input-box-password-registration" type="password" placeholder="Пароль">
        <input class="input-box" id="input-box-email-registration" type="email" placeholder="Почта">
        <input class="input-box" id="input-box-number-registration" type="text" placeholder="Номер">
        <button class="button" id="button-login-registration" onclick="myFunction()">Зарегистрироваться</button>
    </form>
    <img src="../public/images/taxi-line.png" th:src="@{/images/taxi-line.png}" id="image-bottom" alt="Загрузка">

</body>

</html>