.input-box {
    background: #FBF3F3;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 42px;
}

#input-box-lastname {
    position: absolute;
    width: 348px;
    height: 43px;
    left: 829px;
    top: 401px;
}